body {margin:0;}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
  display: inline;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(97, 32, 45)
}

.pic1 {
   width: 45px;
   height: 25px;

}
.block{
    display: block;
    padding: 10px;
    width: 750px;
    position: relative;
    margin-left: 25px;
    margin-top: 5cm;
    font-size: 90%;

}
.img{
    background-image: url('thor.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


  

  